#alana-image {
	max-width: 400px;
	max-height: 400px;
}

#name {
	background-color: #4aaaa5;
	color: white;
	font-size: 20px;
	padding: 20px;
	width: 15%;
	
}

header {
	font-family: 'Georgia', Times, Times New Roman, serif;
	
}

li {
	display: inline;

}


.wrapper {
	max-width: 650px;
}

.side {
	max-width: 270px;
	display: inline;
}


